.main-wrapper{

  display: grid;
  grid-template-columns: 1fr; 1fr; 1fr; 1fr; 1fr; 1fr;
  grid-template-rows: 1fr; 1fr; 1fr; 1fr;
}

.title{
  text-align: center;
  background-color: green;
  grid-column: 1/7;
  grid-row: 1/2;
}

.chip{
grid-column: 1/4;
grid-row: 2/3;
}

.nigel{
  grid-column: 4/7;
  grid-row: 2/3;
}

.mad-house{
  grid-column: 1/4;
  grid-row: 3/4;
}

.job{
  grid-column: 4/7;
  grid-row: 3/4;
}


@media only screen and (min-width: 480px) {
.main-wrapper{
grid-template-columns: 1fr;}

h3{
  font-size: 20;


}}

@media only screen and (min-width: 768px) {
.main-wrapper{
grid-template-columns: 1fr 1fr;

}}
